* {
    font-family: Roboto;
    font-style: normal;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

body {
    height: 100%;
    background: #F5F5F5;
}

/*Header - Breadcrums*/
.container-login {
    background-image: url('../../images/news-bg.svg');
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 344px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.bread-crumb {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.bread-crumb a:link {
    color: #8c8c8c;
    background-color: transparent;
    text-decoration: none;
}

.bread-crumb a:hover {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}

.current-bread-crumb {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
}

.bread-crumbs {
    position: absolute;
    top: 45%;
    left: 8%;
}

/*Header - Breadcrums*/

/*Side bar*/

.side-bar-user h3 {
    margin-top: 16px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
}

.side-bar-user p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1890FF;
    margin-bottom: 16px;
}

.side-bar-user p:first-of-type {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 8px;
}

.side-bar-user {
    border-bottom: 1px solid #E8E8E8;
    padding: 16px;
}

.side-bar-user img {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.wrap-img {
    margin-bottom: 42px;
}

.side-bar-menu {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 16px;
}

.side-bar-menu h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #262626;
}

.side-bar-menu a {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 12px;
    padding-left: 5px;
}

.side-bar-menu a.active {
    font-weight: 500;
    color: #064D69;
}

.side-bar-menu img {
    padding-right: 10px;
}


.blue-circular-btn {
    color: #ffffff;
    cursor: pointer;
    background: #064d69;
    border-radius: 50%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 6px;
    border: none;
    position: absolute;
    top: 10%;
    left: 37%;
    transform: translate(-50%,-50%);
}

.blue-btn {
    color: #ffffff;
    border: 1px solid #064D69;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: right !important;
}

.btn-nghiep-vu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 100%;
    border: 1px solid grey;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 16px 24px;
    margin-top: 16px;
}
/*Side bar*/

/*Main content*/
.main-content {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-left: 30px;
    padding: 24px;
}

.main-content h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #262626;
}

.main-content h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.main-content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.search-input {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
    margin-right: 10px;
}

.search-btn {
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 10px;
}

.huong-dan-item {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.huong-dan-item h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #262626;
}
/*Main content*/

/*Slider*/
@media (min-width: 1400px) and (max-width: 1600px) {
    .container-slide {
        max-width: 1200px;

    }
}

@media (min-width: 1600px) and (max-width: 1800px) {
    .container-slide {
        max-width: 1400px;

    }
}

@media (min-width: 1800px) and (max-width: 1920px) {
    .container-slide {
        max-width: 1500px;

    }
}

@media (min-width: 1920px) {
    .container-slide {
        max-width: 1600px;

    }
}

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.container-slide {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.offset-right-1 {
    margin-right: 8.333333%;
}

.slide2-item h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #262626;
    margin-bottom: 0px;
    background: #FFFFFF;
    padding: 10px;
}

.slide2-item p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #c6c8ca;
    background: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px;
    margin-bottom: 0px;
}

.slide2-item span {
    color: #1890FF;
}

.back-slide-2 {
    position: absolute;
    top: 30%;
    left: -11%;
    transform: translate(50%, 50%);
    z-index: 99;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    outline: none;
}

.forward-slide-2 {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(50%, 50%);
    z-index: 99;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    outline: none;
}

.slider-button {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background: white;
    border: 1px solid #e8e8e8;
}
/*Slider*/

@media (max-width: 767px) {
    .main-content {
        margin-left: 0px;
    }
}

@media (min-width: 767px) and (max-width: 1150px){

    .blue-btn {
        color: #ffffff;
        border: 1px solid #064D69;
        cursor: pointer;
        display: inline-block;
        background: #064d69;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
        border-radius: 8px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        padding: 4px 8px;
        box-sizing: border-box;
        text-align: right !important;
    }

}