* {
    font-family: Roboto;
    font-style: normal;
}

body {
    height: 100%;
}

/*Bread crumbs*/
.bread-crumb {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}

.bread-crumb a:link {
    color: #8c8c8c;
    background-color: transparent;
    text-decoration: none;
}

.bread-crumb a:hover {
    color: #064D69;
    background-color: transparent;
    text-decoration: underline;
}

.current-bread-crumb {
    font-weight: normal;
    font-size: 14px;
    color: #064D69;
    line-height: 22px;
}

.bread-crumbs {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

/*Bread crumbs*/

/*Side bar*/
.side-bar {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 0px;
    height: 600px;
}

.side-bar-user h3 {
    margin-top: 16px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
}

.side-bar-user p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1890FF;
    margin-bottom: 16px;
}

.side-bar-user p:first-of-type {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 8px;
}

.side-bar-user {
    border-bottom: 1px solid #E8E8E8;
    padding: 16px;
}

.side-bar-menu {
    padding: 16px;
}

.side-bar-menu h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #262626;
    margin-bottom: 16px;
}

.side-bar-menu p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.side-bar-menu p.active {
    font-weight: 500;
    color: #064D69;
}

.side-bar-menu img {
    padding-right: 5px;
}

.blue-circular-btn {
    color: #ffffff;
    cursor: pointer;
    background: #064d69;
    border-radius: 50%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 6px;
    border: none;
    position: absolute;
    top: 2%;
    left: 40%;
    transform: translateX(-50%);
}

.blue-btn {
    color: #ffffff;
    border: 1px solid #064D69;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.btn-nghiep-vu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 100%;
    border: 1px solid grey;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 16px 24px;
    margin-top: 16px;
}

/*Side bar*/

/*Main content*/
.main-content {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-left: 30px;
}

.main-content .item {
    padding: 16px;

}

.main-content h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    margin-bottom: 0px;
}

.main-content h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 0px;
}

.main-content p {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.input {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    padding-left: 15px;
    color: #BFBFBF;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.offset-right-6 {
    margin-right: 50%;
}

.sdt {
    background: #FFFFFF;
}

.input:focus {
    outline: none; /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #0c5460; /* Full freedom. (works also with border-radius) */
}
/*Main content*/
