* {
    font-family: Roboto;
    font-style: normal;
}

body {
    height: 100%;
    background: #F5F5F5;
}

.offset-right-1 {
    margin-right: 8.333333%;
}

/*Header - Breadcrums*/
.container-login {
    background-image: url('./assets/images/news-bg.svg');
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 344px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.bread-crumb {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.bread-crumb a:link {
    color: #8c8c8c;
    background-color: transparent;
    text-decoration: none;
}

.bread-crumb a:hover {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}

.current-bread-crumb {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
}

.bread-crumbs {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/*Header - Breadcrums*/

/*Search field*/
.wrap-login {
    width: 85%;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 24px 32px;
    z-index: 1;
}

.wrap-input {
    width: 100%;
    position: relative;
}

.input {
    border: none;
    border-radius: 8px 0px 0px 8px;
    display: block;
    width: 100%;
    background: #F5F5F5;
    padding: 12px 16px;
    color: #BFBFBF;
}

.input:focus {
    outline: none; /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 1px #0c5460 inset; /* Full freedom. (works also with border-radius) */
}

.search-button {
    color: #ffffff;
    width: 100%;
    border: none;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 0px 8px 8px 0px;
    padding: 12px 16px;
}

/*Search field*/


/*Side bar*/
.side-bar {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 0px;
}

.side-bar-header {
    padding: 20px;
}

.side-bar-header h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.side-bar-item {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 15px;
}

.side-bar-item h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #064D69;
}

.side-bar-item p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 0px;
}

.blue-btn {
    color: #ffffff;
    border: 1px solid #064D69;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 10px;
    box-sizing: border-box;
}

/*Side bar*/

/*Main content*/
.main-content-item {
    background: #FFFFFF;
    margin-left: 30px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-bottom: 24px;
}

.date-tag {
    background: #EBFAEF;
    border: 1px solid #B3EBC5;
    box-sizing: border-box;
    border-radius: 20px;
    color: #2EB553;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ma-dinh-danh-1 {
    padding: 15px;
}

.ma-dinh-danh-1 p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #064D69;
    margin-bottom: 0px;
    border: none;
}

.ma-dinh-danh-2 {
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
}

.ma-dinh-danh-2 p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #064D69;

}

.nghi-dinh {
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
}

.nghi-dinh-text h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.nghi-dinh-text p:first-child {
    margin-bottom: 8px;

}

.nghi-dinh-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 0px;

}

/*Main content*/

/*Pagination*/
.search-page-number {
    margin-left: 30px;
}

.search-page-number p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}

.pagination li button {
    background: #FFFFFF;
    color: #8c8c8c;
    padding: 5px 12px;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: -16px;
    border: 0px;
}

.pagination li .is-active {
    background: #064d69;
    color: #FFFFFF;
}

/*Tooltip*/
.tooltip-inner {
    background-color: #064d69;
    border-radius: 8px;
    padding: 5px 12px;
    color: #FFFFFF;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #064d69 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #064d69 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #064d69 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #064d69 !important;
}

