* {
    font-family: Roboto;
    font-style: normal;
}

body {
    height: 100%;
}

.container-login {
    background-image: url('./assets/images/news-bg.svg');
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 344px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

/*Bread crumbs*/
.bread-crumb {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.bread-crumb a:link {
    color: #8c8c8c;
    background-color: transparent;
    text-decoration: none;
}

.bread-crumb a:hover {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}

.current-bread-crumb {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
}

.bread-crumbs {
    position: absolute;
    top: 45%;
    left: 12%;
    transform: translate(-50%, -50%);
}

/*Bread crumbs*/

/*Side bar*/
.side-bar {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 0px;
    height: 300px;
}

.side-bar-menu {
    padding: 16px;
}

.side-bar-menu h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #262626;
    margin-bottom: 16px;
}

.side-bar-menu p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.side-bar-menu p.active {
    font-weight: 500;
    color: #064D69;
}

.side-bar-menu img {
    padding-right: 5px;
}

/*Side bar*/

/*Main content*/
.main-content {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-left: 30px;
    padding: 24px;
}

.main-content h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #262626;
}

.main-content h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.main-content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.main-content img {
    width: 100%;
}

.item h4{
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 8px 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
}

.item p {
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);

}

.search-input {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
    margin-right: 10px;
}

.search-btn {
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 10px;
}

.page-number-btn {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    padding: 5px 10px;
}

.search-page-number p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
/*Main content*/

/*Side bar gop y*/
.side-bar-gop-y {
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 40px;
}

.side-bar-gop-y p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.gop-y-form {
    border-right: 1px solid #e8e8e8;
    padding-right: 24px;
    padding-left: 24px;
}

.wrap-input {
    width: 100%;
    position: relative;
    margin-bottom: 23px;
}

.label-input {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 15px;
}

.input {
    height: 40px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    display: block;
    width: 100%;
    background: transparent;
    padding-left: 15px;
    margin-top: 5px;
    color: #BFBFBF;
}

.input:focus {
    outline: none; /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #0c5460; /* Full freedom. (works also with border-radius) */
}

.input-to {
    height: 150px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    display: block;
    width: 100%;
    background: transparent;
    padding-left: 15px;
    margin-top: 5px;
    color: #BFBFBF;
}

.input-to:focus {
    outline: none; /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #0c5460; /* Full freedom. (works also with border-radius) */
}

.blue-btn {
    color: #ffffff;
    border: 1px solid #064D69;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 14px;
    box-sizing: border-box;
    margin-top: 30px;
}

.address {
    padding-left: 24px;
}

.gop-y-header {
    margin-bottom: 24px;
}
/*Side bar gop y*/
