* {
    font-family: Roboto;
    font-style: normal;
}

body {
    height: 100%;
}

.container-login {
    background-image: url('./assets/images/login-bg.svg');
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 525px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.login-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #262626;
}

.login-p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #595959;
}

.forgot-text {
    color: #8c8c8c;
}

.forgot-text:hover {
    color: #0c5460;
}

.register {
    color: #c69500;
}

.register:hover {
    color: #0c5460;
}

.content {
    position: relative;
}

.login-icon {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
}


.wrap-login {
    width: 558px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 40px;
    z-index: 99;
}

/*Username and password field*/
.wrap-input {
    width: 100%;
    position: relative;
    margin-bottom: 23px;
}

.label-input {
    color: #333333;
    margin-bottom: 15px;
}

.input {
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 5px 0 15px;
    margin-top: 5px;
}

.input:focus {
    outline: none; /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #0c5460; /* Full freedom. (works also with border-radius) */
}

/*Custom checkbox*/
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-left: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #262626;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #064d69;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-login {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 100%;
    border: 1px solid grey;
    cursor: pointer;
    display: inline-block;
    background: #064d69;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 16px 24px;
}

.btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
}
